* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #505051;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  text-align: center;
}

#status {
  margin-top: 10px;
  color: #455be9;
  font-size: 30;
}